<div class="photo-top admin-top">

    
    

    <div class="pagebutton-container">

        <a href="/admin/dashboard"><button class="black-button">BACK TO DASHBOARD</button></a>

        <a href="/admin/upload">
            <button class="green-button">UPLOAD A NEW PHOTO</button>
        </a>

    </div>

    <div class="pagetitle-container"><h1 class="dashboard-title">Article Logo Photos</h1></div>

    


</div>




<div class="admin-middle">
    <ul class="admin-list">

        <% images.forEach(image => { %>
            <li class="admin-item">


                <div class="item-left">

                    <img src="/img/<%= image %>" alt="<%= image %>" class="photo-image">

                    <h4 class="photo-path"><%= image %></h4>

                </div>


                <div class="item-right">


                    <a href="/admin/rename/<%= image %>">
                        <button class="rename-button blue-button">RENAME</button>
                    </a>

                    <form action="/admin/photo/delete/<%= image %>" method="POST" class="delete-form">
                        <button type="submit" class="delete-button red-button">DELETE</button>
                    </form>


                </div>

            </li>
        <% }) %>



    </ul>


</div>