<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title  %></title>
    <meta name="description" content="<%= locals.description %>">
    
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Source+Serif+Pro:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/queries.css">
    
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/color.css">

    <link rel="stylesheet" href="/css/hide.css">
</head>
<body>


    <div class="container">


        <div class="header-container">
            <div class="header-sm">
                <%- include('../partials/header.ejs') %>
            </div>
            
        </div>



        <div class="main-container">
            <main class="main">
                <%- body %>
            </main>
        </div>
            


        <div class="footer-container">
            <%- include('../partials/footer.ejs') %>
        </div>
        
    </div>
    
    <script type="text/javascript" defer src="/js/script.js"></script>
</body>
</html>